<!doctype html>
<html lang="en">
  <head>
    <title>Stock Prices for October 2020</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Stock Prices Lookup</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h2>Stock Price Lookup</h2>
            <p>This app accepts a stock ticker input from the user and plots stock price data for October 2020.</p>
            <p>If you’re interested in looking for more ticker symbols for company stock, you could go
              <a href="http://eoddata.com/symbols.aspx">here</a>.</p>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 well">
                <form id='inputform' method='post' action='about' >
                    <div class="form-group">
                        <label for="stockName">Stock Ticker Symbol</label>
                        <input type='text' name='ticker' placeholder='GOOG'/>
                    </div>
                    <p><input class="btn btn-primary" type='submit' value='Submit'/></p>
                </form>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
